
fastapi
uvicorn[standard]
jinja2
motor
beanie
pymongo
passlib[bcrypt]
python-jose[cryptography]
httpx
python-dotenv
pydantic[email]
google-generativeai
feedparser
lxml
apscheduler
beautifulsoup4
pydantic-settings
grpcio-status==1.71.2
